{% extends 'base.html' %}

{% block content %}
{{super()}}
{% with messages = get_flashed_messages() %}
{% if messages %}
<ul class="flash-messages">
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}
<h2>Имя: {{profile.name}}</h2>
<!--<div><img src="{{ url_for('get_image') }}"></div>-->

<form enctype="multipart/form-data" method="POST" action="{{url_for('upload')}}">
    <input type="file" name="image">
    <button type="submit">Загрузить</button>
</form>


{% if profile.old %}
<h3>Возраст:{{profile.old}}</h3>
{% endif %}

<form method="POST" action="{{url_for('logout')}}">
    <button type="submit">Выход</button>

</form>

{% endblock %}
