{% extends 'base.html' %}

{% block content %}
{{super()}}
{% with messages = get_flashed_messages() %}
{% if messages %}
<ul class="flash-messages">
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}


<h1>Добавить слово</h1>
<form method="POST" action="">
    <label for="word">Слово:</label>
    <input type="text" id="word" name="word" required>
    <input type="submit" value="Отправить">
</form>
<hr>
{% if words %}
<table>
    <thead>
    <tr>
        <td>Слово</td>
        <td>Перевод</td>
        <td>Рейтинг</td>
        <td>Свое слово</td>
    </tr>
    </thead>

    {% for word in words %}
    <tr>
        <td>{{word.name}}</td>
        <td>{{word.translate}}</td>
        <td>{{word.rating}}</td>
        {% if word.is_him %}
        <td>Да</td>
        {% else %}
        <td>Нет</td>
        {% endif %}
        <td>
            <form method="POST" action="{{url_for('delete_word')}}">
                <button type="submit" name='word' value="{{word.name}}">Удалить</button>
            </form>
        </td>
    </tr>


    {% endfor %}
</table>

{% else %}
<h2>Похоже в вашем словаре пока нет слов. Самое время это <a href="{{url_for('exercise')}}">исправить</a>!</h2>

{% endif %}

{% endblock %}