{% extends 'base.html' %}

{% block content %}
{{super()}}
 {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flash-messages">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

<h2>Имя: {{profile.name}}</h2>
{% if profile.old %}
<h3>Возраст:{{profile.old}}</h3>
{% endif %}
<h3>Слов в вашем <a href="{{url_for('dictionary')}}"> словаре</a>: {{ num_words }}</h3>



{% endblock %}
